.container {
    display: flex; 
    justify-content: center;/*Justifica verticalmente o conteúno no centro*/
    background: #ddd;
    margin: 10px;
}
.container2 {
    height: 400px;
    display: flex; 
    justify-content: center;/*Justifica verticalmente o conteúno no centro (tambem pode 
    ser usado a opção "flex-start" que fara os conteúdos ficarem no inicio e 
    "flex-end" que fará ficar no final da linha, "space-between" que fará os conteúdos 
    ocuparem de forma igual o espaço do container e "space-around" que fara eles 
    dividirem o espaço entre si)*/
    flex-direction: column;/*indica a direçao que o conteúdo deve ficar, se culuna ou linha*/
    align-items: center;/*justifica horizontalmente o conteúdo no centro*/
    background: #ddd;
    margin: 10px;
}

.container div {
    width: 200px;
    background: #f00;
    margin: 10px;
    padding: 10px;
    font-size:18px;
}
.container2 div {
    width: 100px;
    height: 100px;
    background: #f00;
    margin: 10px;
    padding: 10px;
    font-size:18px;
}